body {
    white-space: nowrap;
    /* display: inline-block;  ? */
    /* display: flex; ?*/
}

div {
    display: inline-block;
    height: 150px;
    width: 100px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    margin-right: 10px;
    padding: 10px;
    font-family: Tahoma;
    font-size: 40px;
}

div:nth-last-child(1) {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin-right: 0;
}

div:hover {
    background-color: yellow;
    color: goldenrod;
    cursor: pointer;
}